body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d63b9;
}
.galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
    width: 31%;
    min-width: 280px;
    padding: 1%; 
    border-radius: 10%;   
}