body {
    background-color: aqua;
}

h1 {
    text-align: center;
    color: rgb(70, 70, 119);
}
.galeria {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap; 
}

img{
    width: 31%;
    min-width: 280px; 
    border-radius: 10%;   
    margin: 1%;
}